[Unit]
Description=OneKey Bridge
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/onekeyd
User=onekeyd

[Install]
WantedBy=multi-user.target
