[Unit]
Description=Trezor Bridge
After=network.target

[Service]
Type=simple

ExecStartPre=/usr/bin/touch /var/log/trezord.log
ExecStartPre=/usr/bin/chown trezord:trezord /var/log/trezord.log
ExecStartPre=/usr/bin/chmod 660 /var/log/trezord.log

ExecStart=/usr/bin/trezord
User=trezord

[Install]
WantedBy=multi-user.target
